# Gradle
.gradle/
build/
**/build/
gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.kotlin_module

# Misc
.DS_Store
